@use 'colors';

$breadcrumb-title-color: colors.$grey;
$breadcrumb-active-title-color: colors.$blue;

@mixin breadcrumb {
  .breadcrumb-list.mat-mdc-list-base {
    & .mat-mdc-list-item {
      color: $breadcrumb-title-color;

      &.active {
        color: $breadcrumb-active-title-color;
      }
    }
  }
}

@mixin breadcrumb-dark {
  .breadcrumb-list.mat-mdc-list-base {
    & .mat-mdc-list-item {
      color: colors.$white;

      &.active {
        color: $breadcrumb-active-title-color;
      }
    }
  }
}
