@use 'colors';
@use 'variables';

//== Header

$header-height: variables.$header-height;
$header-button-background-color: variables.$header-button-background-color;
$header-button-background-color-hover: variables.$header-button-background-color-hover;
$header-button-font-color: variables.$header-button-font-color;
$header-button-box-shadow: variables.$header-button-box-shadow;
$header-title-font-color: variables.$header-title-font-color;

$header-background-dark-theme: #31313C;
$header-title-color-dark-theme: #889AFF;


@mixin header() {
  .header {
    .mat-mdc-mini-fab {
      background-color: $header-button-background-color;
      box-shadow: $header-button-box-shadow;

      &:hover {
        background-color: $header-button-background-color-hover;
      }

      &:not([class*=mat-elevation-z]) {
        box-shadow: inherit;
      }
    }
  }
}

@mixin header-dark() {
  .mat-toolbar.mat-primary.header {
    background-color: $header-background-dark-theme;

    .mat-mdc-mini-fab {
      background-color: $header-button-background-color;
      box-shadow: $header-button-box-shadow;

      .header__title-button-icon {
        color: $header-title-color-dark-theme;
      }

      &:hover {
        background-color: $header-button-background-color-hover;
      }

      &:not([class*=mat-elevation-z]) {
        box-shadow: inherit;
      }
    }

    .header__title-text {
      color: $header-title-color-dark-theme;
    }
  }
}
