@use 'palettes';
@use 'sass:map';
@use '@angular/material' as mat;

@function _patch-common-palette($palette) {
  @return map.merge(
    $palette,
    (
      secondary: (
        0: #000,
        10: #281800,
        20: #442c00,
        25: #523600,
        30: #614000,
        35: #704b00,
        40: #805600,
        50: #9f6e0e,
        60: #bc872a,
        70: #daa142,
        80: #f8bc5b,
        90: #ffddaf,
        95: #ffeedb,
        98: #fff8f3,
        99: #fffbff,
        100: #fff,
      ),
      tertiary: (
        0: #000,
        10: #2b0053,
        20: #470084,
        25: #56009d,
        30: #6500b8,
        35: #7500d3,
        40: #8500ef,
        50: #9d43ff,
        60: #b26fff,
        70: #c695ff,
        80: #dab9ff,
        90: #efdbff,
        95: #f9edff,
        98: #fff7ff,
        99: #fffbff,
        100: #fff,
      ),
      neutral: (
        0: #000,
        10: #1a1b24,
        20: #2f3039,
        25: #3a3b44,
        30: #454650,
        35: #51525c,
        40: #5d5e68,
        50: #767681,
        60: #90909b,
        70: #abaab6,
        80: #c6c5d1,
        90: #e2e1ed,
        95: #f1effc,
        98: #fbf8ff,
        99: #fffbff,
        100: #fff,
        4: #0d0e16,
        6: #12131b,
        12: #1e1f28,
        17: #282932,
        22: #33343d,
        24: #383842,
        87: #dad9e5,
        92: #e8e7f3,
        94: #eeecf9,
        96: #f4f2ff,
      ),
      neutral-variant: (
        0: #000,
        10: #191b28,
        20: #2e2f3e,
        25: #393a49,
        30: #444655,
        35: #505161,
        40: #5c5d6d,
        50: #757686,
        60: #8e8fa1,
        70: #a9aabc,
        80: #c5c5d8,
        90: #e1e1f4,
        95: #f0efff,
        98: #fbf8ff,
        99: #fffbff,
        100: #fff,
      ),
      error: (
        0: #000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #fff,
      ),
    )
  );
}

$blue-palette: _patch-common-palette(
  (
    0: #000,
    10: #000f5c,
    20: #001e91,
    25: #0026ae,
    30: #052fc8,
    35: #1f3ed3,
    40: #314ddf,
    50: #4e68f9,
    60: #7287ff,
    70: #97a5ff,
    80: #bac3ff,
    90: #dee0ff,
    95: #f0efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #fff,
    secondary: (
      0: #000,
      10: #281800,
      20: #442c00,
      25: #523600,
      30: #614000,
      35: #704b00,
      40: #805600,
      50: #9f6e0e,
      60: #bc872a,
      70: #daa142,
      80: #f8bc5b,
      90: #ffddaf,
      95: #ffeedb,
      98: #fff8f3,
      99: #fffbff,
      100: #fff,
    ),
    tertiary: (
      0: #000,
      10: #2b0053,
      20: #470084,
      25: #56009d,
      30: #6500b8,
      35: #7500d3,
      40: #8500ef,
      50: #9d43ff,
      60: #b26fff,
      70: #c695ff,
      80: #dab9ff,
      90: #efdbff,
      95: #f9edff,
      98: #fff7ff,
      99: #fffbff,
      100: #fff,
    ),
  )
);
$pink-palette: _patch-common-palette(
  (
    0: #000,
    10: #3f0018,
    20: #66002a,
    25: #7a0034,
    30: #8f003f,
    35: #a50049,
    40: #bb0054,
    50: #e1266c,
    60: #ff4c86,
    70: #ff85a4,
    80: #ffb1c1,
    90: #ffd9df,
    95: #ffecee,
    98: #fff8f7,
    99: #fffbff,
    100: #fff,
  )
);
$green-palette: _patch-common-palette(
  (
    0: #000,
    10: #002018,
    20: #00382c,
    25: #004436,
    30: #005140,
    35: #005e4b,
    40: #006b56,
    50: #00876d,
    60: #00a485,
    70: #2ec09e,
    80: #54dcb9,
    90: #74f9d4,
    95: #b9ffe7,
    98: #e6fff4,
    99: #f3fff9,
    100: #fff,
  )
);
