@use 'colors';

@mixin mat-table() {
  .mat-mdc-table {
    --mdc-data-table-container-color: transparent;

    tr {
      &:hover {
        background-color: colors.$black-04;
      }

      &:last-child {
        & td {
          border: none;
        }
      }
    }
  }
}

@mixin mat-table-dark() {
  .mat-mdc-table {
    --mdc-data-table-container-color: transparent;
    --mdc-data-table-header-row-text-color: #d6d6d6;
    --mdc-data-table-row-text-color: #{colors.$white};

    th {
      &.mat-mdc-header-cell {
        --mdc-data-table-header-cell-border-bottom-color: #{colors.$white-70};
      }
    }

    td {
      &.mat-mdc-cell {
        --mdc-data-table-cell-border-bottom-color: #{colors.$white-70};
      }
    }
  }
}
