@use 'src/app/styles/variables';
@use 'src/app/styles/colors';

@mixin mat-expansion-panel {
  .mat-expansion-indicator::after {
    color: colors.$white;
  }
}

@mixin mat-expansion-panel-dark {
  mat-expansion-panel.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }

  .mat-expansion-indicator::after {
    color: colors.$white;
  }
}
