@use 'colors';

@mixin mat-table() {
  .mat-mdc-table {
    background: transparent;

    tr {
      &:hover {
        background-color: colors.$black-04;
      }

      &:last-child {
        & td {
          border: none;
        }
      }
    }
  }
}

@mixin mat-table-dark() {
  .mat-mdc-table {
    background: transparent;

    th {
      color: #d6d6d6;

      &.mat-mdc-header-cell {
        border-color: colors.$white-70;
      }
    }

    td {
      color: colors.$white;

      &.mat-mdc-cell {
        border-color: colors.$white-70;
      }
    }
  }
}
