@use 'colors';

$raised-button-shadow:
  0 3px 11px 0 colors.$shadow-white,
  0 3px 3px -2px colors.$shadow-grey,
  0 1px 8px 0 colors.$shadow-dark-grey;

@mixin mat-button() {
  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-fab,
  .mat-mdc-mini-fab {
    --mdc-text-button-label-text-color: #{colors.$dark-grey};
    --mdc-filled-button-container-color: #{colors.$default};
    --mdc-protected-button-container-color: #{colors.$default};
    --mdc-fab-container-color: #{colors.$default};

    letter-spacing: 0.02857em;
    text-transform: uppercase;
    box-shadow: none;
  }

  .mat-mdc-mini-fab:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }

  .mat-mdc-raised-button:not([class*='mat-elevation-z']) {
    box-shadow: $raised-button-shadow;
  }
}

@mixin mat-button-dark() {
  .mat-mdc-raised-button:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
}
