@use 'colors';

@mixin mat-form-field {
  .add-section-menu {
    & .mat-mdc-form-field {
      --mdc-filled-text-field-label-text-color: #{colors.$white};
      --mdc-outlined-text-field-label-text-color: #{colors.$white};
      --mdc-filled-text-field-active-indicator-color: #{colors.$white};
      --mdc-outlined-text-field-outline-color: #{colors.$white};
    }
  }
}

@mixin mat-form-field-dark-theme {
  & .mat-mdc-form-field {
    --mdc-filled-text-field-label-text-color: #{colors.$white};
    --mdc-outlined-text-field-label-text-color: #{colors.$white};
    --mdc-filled-text-field-active-indicator-color: #{colors.$white-70};
    --mdc-outlined-text-field-outline-color: #{colors.$white-70};
    --mdc-filled-text-field-disabled-active-indicator-color: #{colors.$white-70};
    --mdc-outlined-text-field-disabled-outline-color: #{colors.$white-70};
    --mdc-filled-text-field-input-text-color: #{colors.$white};
    --mdc-outlined-text-field-input-text-color: #{colors.$white};
    --mdc-filled-text-field-hint-text-color: #{colors.$white-70};
    --mdc-outlined-text-field-hint-text-color: #{colors.$white-70};
  }
}
