@use 'colors';
@use 'font';

$card-font-color: colors.$dark-grey;
$card-title-font-color: colors.$grey;
$card-padding: 24px;
$card-title-font-size: font.$fs-medium;
$card-title-font-weight: font.$fw-lighter;
$card-shadow:
  0 3px 11px 0 colors.$shadow-white,
  0 3px 3px -2px colors.$shadow-grey,
  0 1px 8px 0 colors.$shadow-dark-grey;
$card-background-dark-theme: #23232d;

@mixin mat-card() {
  .mat-mdc-card {
    --mdc-elevated-card-container-color: #{colors.$white};
    --mdc-outlined-card-container-color: #{colors.$white};
    --mdc-elevated-card-label-text-color: #{$card-font-color};
    --mdc-outlined-card-label-text-color: #{$card-font-color};

    margin: 0;
    box-shadow: $card-shadow;
    padding: $card-padding;

    &:not([class*='mat-elevation-z']) {
      box-shadow: $card-shadow;
    }

    .mat-mdc-card-title {
      & > p {
        font-size: $card-title-font-size;
        font-weight: $card-title-font-weight;
        color: $card-title-font-color;
      }
    }
  }
}

@mixin mat-card-dark() {
  .mat-mdc-card {
    --mdc-elevated-card-container-color: #{$card-background-dark-theme};
    --mdc-outlined-card-container-color: #{$card-background-dark-theme};
    --mdc-elevated-card-label-text-color: #{colors.$white};
    --mdc-outlined-card-label-text-color: #{colors.$white};

    & p {
      color: colors.$white;
    }

    &:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }

    .mat-mdc-card-title {
      & p {
        color: colors.$white;
      }
    }

    .mat-mdc-card-subtitle {
      & p {
        color: #d6d6d6;
      }
    }

    .mat-mdc-card-content {
      & p {
        color: #d6d6d6;
      }
    }

    .mat-mdc-card-footer {
      & p {
        color: #d6d6d6;
      }
    }
  }
}
