@use 'colors';
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

@function create-palette($color) {
  @return (
    50: $color,
    100: #ececec,
    200: $color,
    300: $color,
    400: $color,
    500: $color,
    600: $color,
    700: $color,
    800: $color,
    900: $color,
    A100: $color,
    A200: $color,
    A400: $color,
    A700: $color,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );
}

$ama-yellow: create-palette(colors.$yellow);
$ama-pink: create-palette(colors.$pink);
$ama-blue: create-palette(colors.$blue);
$ama-light-blue: create-palette(colors.$light-blue);
$ama-green: create-palette(colors.$green);
$ama-violet: create-palette(colors.$violet);
