@use "sass:map";
@use 'palettes';
@use 'mat-card';
@use 'mat-paginator';
@use 'mat-table';
@use 'breadcrumb';
@use 'mat-select';
@use 'mat-tab';
@use 'mat-toolbar';
@use 'mat-button';
@use 'mat-badge';
@use 'mat-button-toggle';
@use 'mat-form-field';
@use 'mat-expansion-panel';
@use 'mat-spinner';
@use 'mat-tooltip';
@use 'calendar';
@use 'full-calendar';
@use 'colors';
@use 'header';
@use 'sidebar';
@use 'footer';
@use 'settings';
@use 'scrollbar';
@use '@angular/material' as mat;

@function ama-light-theme($primary, $accent, $warn, $success, $info, $primary-light) {
  @return map.merge(
    mat.m2-define-light-theme($primary, $accent, $warn),
    (
      success: $success,
      info: $info,
      primary-light: $primary-light,
    )
  );
}

/***********************************/
/**        BLUE THEME            **/
/**********************************/

$blue-theme-primary: mat.m2-define-palette(palettes.$ama-blue);
$blue-theme-primary-light: mat.m2-define-palette(palettes.$ama-light-blue);
$blue-theme-accent: mat.m2-define-palette(palettes.$ama-yellow);
$blue-theme-warn: mat.m2-define-palette(palettes.$ama-pink);
$blue-theme-success: mat.m2-define-palette(palettes.$ama-green);
$blue-theme-info: mat.m2-define-palette(palettes.$ama-violet);

$blue-theme: ama-light-theme(
  $blue-theme-primary,
  $blue-theme-accent,
  $blue-theme-warn,
  $blue-theme-success,
  $blue-theme-info,
  $blue-theme-primary-light
);

@mixin blueTheme() {
  .blueTheme {
    @include mat.theme($blue-theme);

    @include header.header();
    @include mat-card.mat-card();
    @include mat-paginator.mat-paginator();
    @include mat-table.mat-table();
    @include mat-toolbar.mat-toolbar();
    @include mat-button.mat-button();
    @include mat-button-toggle.mat-toggle();
    @include mat-spinner.mat-spinner;
    @include mat-tab.mat-tab-without-border();
    @include mat-tab.mat-tab-color-label(colors.$blue);
    @include mat-tab.mat-tab-label-active-color(colors.$blue);
    @include mat-tooltip.mat-tooltip;
    @include mat-expansion-panel.mat-expansion-panel;
    @include breadcrumb.breadcrumb();
    @include mat-badge.mat-badge();
    @include sidebar.sidebar(colors.$blue);
    @include footer.footer(colors.$blue);
    @include settings.settings(colors.$blue);
    @include mat-select.mat-select;
    @include mat-tab.mat-tab-label;
  }
}

/***********************************/
/**        PINK THEME            **/
/**********************************/

$pink-theme-primary: mat.m2-define-palette(palettes.$ama-pink);
$pink-theme-primary-light: mat.m2-define-palette(palettes.$ama-light-blue);
$pink-theme-accent: mat.m2-define-palette(palettes.$ama-yellow);
$pink-theme-warn: mat.m2-define-palette(palettes.$ama-blue);
$pink-theme-success: mat.m2-define-palette(palettes.$ama-green);
$pink-theme-info: mat.m2-define-palette(palettes.$ama-violet);

$pink-theme: ama-light-theme(
  $pink-theme-primary,
  $pink-theme-accent,
  $pink-theme-warn,
  $pink-theme-success,
  $pink-theme-info,
  $pink-theme-primary-light
);

@mixin pinkTheme() {
  .pinkTheme {
    @include mat.theme($pink-theme);

    @include header.header();
    @include mat-card.mat-card();
    @include mat-paginator.mat-paginator();
    @include mat-table.mat-table();
    @include mat-button-toggle.mat-toggle();
    @include mat-spinner.mat-spinner;
    @include mat-button.mat-button();
    @include mat-tooltip.mat-tooltip;
    @include mat-expansion-panel.mat-expansion-panel;
    @include mat-tab.mat-tab-without-border();
    @include mat-tab.mat-tab-color-label(colors.$pink);
    @include mat-tab.mat-tab-label-active-color(colors.$pink);
    @include breadcrumb.breadcrumb();
    @include sidebar.sidebar(colors.$pink);
    @include mat-badge.mat-badge();
    @include footer.footer(colors.$pink);
    @include settings.settings(colors.$pink);
    @include mat-select.mat-select;
    @include mat-tab.mat-tab-label;
  }
}

/***********************************/
/**       GREEN THEME            **/
/**********************************/

$green-theme-primary: mat.m2-define-palette(palettes.$ama-green);
$green-theme-primary-light: mat.m2-define-palette(palettes.$ama-light-blue);
$green-theme-accent: mat.m2-define-palette(palettes.$ama-yellow);
$green-theme-warn: mat.m2-define-palette(palettes.$ama-pink);
$green-theme-success: mat.m2-define-palette(palettes.$ama-blue);
$green-theme-info: mat.m2-define-palette(palettes.$ama-violet);

$green-theme: ama-light-theme(
  $green-theme-primary,
  $green-theme-accent,
  $green-theme-warn,
  $green-theme-success,
  $green-theme-info,
  $green-theme-primary-light
);

@mixin greenTheme() {
  .greenTheme {
    @include mat.theme($green-theme);

    @include header.header();
    @include mat-card.mat-card();
    @include mat-paginator.mat-paginator();
    @include mat-table.mat-table();
    @include mat-tab.mat-tab-without-border();
    @include mat-button-toggle.mat-toggle();
    @include mat-spinner.mat-spinner;
    @include mat-tooltip.mat-tooltip;
    @include mat-tab.mat-tab-label-active-color(colors.$green);
    @include mat-expansion-panel.mat-expansion-panel;
    @include mat-tab.mat-tab-color-label(colors.$green);
    @include breadcrumb.breadcrumb();
    @include sidebar.sidebar(colors.$green);
    @include mat-badge.mat-badge();
    @include mat-button.mat-button();
    @include footer.footer(colors.$green);
    @include settings.settings(colors.$green);
    @include mat-select.mat-select;
    @include mat-tab.mat-tab-label;
  }
}

/***********************************/
/**          DARK MODE           **/
/**********************************/

@mixin darkMode() {
  .darkMode {
    @include header.header-dark();
    @include mat-card.mat-card-dark();
    @include sidebar.sidebar-dark();
    @include scrollbar.scrollbar-dark();
    @include breadcrumb.breadcrumb-dark();
    @include mat-paginator.mat-paginator-dark();
    @include mat-table.mat-table-dark();
    @include mat-tab.mat-tab-without-border();
    @include mat-button-toggle.mat-toggle();
    @include mat-tooltip.mat-tooltip;
    @include mat-tab.mat-tab-label-active-color(colors.$white);
    @include mat-badge.mat-badge();
    @include mat-select.mat-select-dark();
    @include mat-form-field.mat-form-field-dark-theme();
    @include mat-expansion-panel.mat-expansion-panel-dark;
    @include mat-select.mat-select;
    @include mat-tab.mat-tab-label-dark;
    @include mat-button.mat-button-dark;
    @include calendar.calendar-dark;
    /*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-frame {
      border-color: colors.$white;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
    .mat-radio-outer-circle {
      border-color: colors.$white;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
    .mat-mdc-radio-button.mat-radio-disabled .mat-radio-outer-circle {
      border-color: colors.$white-50;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
    .mat-mdc-radio-button.mat-radio-disabled .mat-radio-label-content {
      color: colors.$white-50;
    }

    .layout-content {
      background-color: #13131a !important;
    }
  }
}
