@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.tabs-content-wrapper {
  margin-top: 36px;
}

.cards-wrapper {
  display: flex;

  @media (max-width: variables.$medium) {
    flex-wrap: wrap;
  }

  + .cards-wrapper {
    margin-top: 36px;
  }
}

.card {
  width: 100%;
  box-sizing: border-box;
  box-shadow:
    0 3px 11px 0 colors.$shadow-white,
    0 3px 3px -2px colors.$shadow-grey,
    0 1px 8px 0 colors.$shadow-dark-grey;

  + .card {
    margin-left: 36px;

    @media (max-width: variables.$medium) {
      margin-left: 0;
      margin-top: 36px;
    }
  }
}

.tab-label {
  text-transform: uppercase;
  font-size: font.$fs-small;
  font-weight: font.$fw-normal;
  margin: 0;
}

.tab-icon {
  padding: 0;
  margin: 0 8px 0 0;
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.tab-text {
  font-size: font.$fs-normal;
  font-weight: font.$fw-lighter;
  color: colors.$dark-grey;
  padding: 24px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;

  button + button {
    margin-left: 16px;
  }
}

.expansion-panel {
  background-color: colors.$blue;
}

.panel-title,
.panel-text {
  color: colors.$white;
  margin: 0;
}
