@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.card {
  width: 100%;
  padding: 0;
  box-shadow:
    0 3px 11px 0 colors.$shadow-white,
    0 3px 3px -2px colors.$shadow-grey,
    0 1px 8px 0 colors.$shadow-dark-grey;
}

.customer-info {
  display: flex;
  padding: 24px 24px 16px;
}

.comments {
  padding: 0 24px 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}

.customer-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customer-name {
  font-size: font.$fs-normal;
  font-weight: font.$fw-bold;
  margin: 0;
  color: colors.$dark-grey;
}

.link {
  color: colors.$blue;

  &:hover {
    text-decoration: underline;
  }
}

.date-publish {
  font-size: font.$fs-small;
  font-weight: font.$fw-lighter;
  margin: 0;
  color: colors.$dark-grey;
}

.description {
  padding: 0 24px;
  color: colors.$dark-grey;
  margin: 8px;
}

.title-text {
  font-size: font.$fs-normal;
  color: colors.$dark-grey;
}

.description-text {
  margin: 0;
}

.content {
  margin: 12px 0 0;
}

.content-img {
  width: 100%;
}

.content-text-wrapper {
  padding: 0 40px;
}

.content-button {
  background-color: transparent;
  color: colors.$dark-grey;
  box-shadow: none;
  margin-bottom: 16px;

  &:hover {
    background-color: variables.$header-button-background-color-hover;
  }
}

.content-text {
  font-size: font.$fs-normal;
  color: colors.$dark-grey;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: font.$fw-lighter;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
}

.action-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.likes-wrapper {
  display: flex;
}

.likes-logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.likes-logo + .likes-logo {
  margin-left: 8px;
}

.agm-map {
  width: 100%;
  height: 100%;
}

.icons-block {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: variables.$header-button-background-color-hover;
  }
}

.icon-wrapper + .icon-wrapper {
  margin-left: 8px;
}

.icon {
  color: rgb(110 110 110 / 60%);
}

.comment-wrapper {
  display: flex;
  margin: 0 -8px;
  padding: 16px 24px;
  border-top: 1px solid colors.$white-gray;
  border-bottom: 1px solid colors.$white-gray;
}

.comment-wrapper + .comment-wrapper {
  margin-top: -1px;
}

.comment-name {
  font-size: 12.32px;
  font-weight: font.$fw-lighter;
  margin: 0 0 4px;
  color: colors.$dark-grey;
}

.comment-text {
  font-size: 12.8px;
  margin: 0;
}

.custom-comment-wrapper {
  padding: 8px 16px 0;
  height: 50px;

  @media (max-width: variables.$medium) {
    height: auto;
  }
}

.custom-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  box-shadow: none;
  font-size: font.$fs-normal;
}

.custom-comment {
  width: 88%;
  font-size: font.$fs-normal;
}
