@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.user-media {
  height: 100%;
  box-sizing: border-box;
}

.user-media-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-media-title {
  margin-bottom: 0;
}

.medial-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: -18px;

  @media (max-width: variables.$small) {
    flex-wrap: nowrap;
    margin: 0 0 0 -25px;
  }
}

.medial-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: variables.$small) {
    width: 100%;
  }
}

.media-title {
  font-weight: font.$fw-normal;
  font-size: font.$fs-medium;
  line-height: 24px;
  color: colors.$dark-grey;
  margin-top: 4px;
  margin-bottom: 0;
}

.media-subtitle {
  font-weight: font.$fw-normal;
  font-size: 12px;
  line-height: 14px;
  color: colors.$dark-grey;
  opacity: 0.6;
  margin-bottom: 18px;
}
