@use 'src/app/styles/colors';
@use 'src/app/styles/font';

.title {
  font-size: font.$fs-regular;
  color: colors.$dark-grey;
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.button + .button {
  margin-left: 8px;
}

@mixin grid-item-2 {
  width: 93px;
  height: 100%;
  border-radius: 4px;
  color: colors.$white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-grid-item-2 {
  @include grid-item-2;

  background-color: colors.$blue;
  justify-self: flex-end;
}

.second-grid-item-2 {
  @include grid-item-2;

  background-color: colors.$yellow;
}

.third-grid-item-2 {
  @include grid-item-2;

  background-color: colors.$pink;
}
