@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.event-wrapper {
  width: 317px;
}

.title {
  font-size: font.$fs-regular;
  color: colors.$dark-grey;
}

.subtitle {
  font-size: font.$fs-small;
  color: colors.$dark-grey;
}

.form {
  display: block;
}

.button {
  background-color: transparent;
  color: colors.$dark-grey;
  box-shadow: none;

  &:hover {
    background-color: variables.$header-button-background-color-hover;
  }
}

button + button {
  margin-left: 8px;
}
