{
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 120,
  "tailwindStylesheet": "./src/styles.scss"
}
