@use 'src/app/styles/colors';

.forms-page {
  padding: 24px;
}

.forms-card {
  margin-top: 24px;

  & p {
    line-height: 33px;
  }
}

li {
  line-height: 33px;
}

.code {
  background-color: colors.$blue-white;
  height: auto;
  overflow: scroll hidden;
  padding: 8px 16px;
}

.link {
  color: colors.$blue;
  text-decoration: none;
}
