@use 'src/app/styles/font';
@use 'src/app/styles/colors';
@use 'src/app/styles/variables';

.card {
  height: 100%;
  box-sizing: border-box;

  @media (max-width: variables.$small) {
    margin-top: 36px;
  }
}

.user-projects-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: center;
}

.user-projects-title {
  margin-bottom: 0;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}

.chart-title {
  font-weight: font.$fw-normal;
  font-size: font.$fs-regular;
  line-height: 24px;
  color: colors.$dark-grey;
  margin-bottom: 0;
  position: absolute;
  z-index: 1;

  @media (max-width: variables.$small) {
    font-size: font.$fs-large;
  }

  @media (min-width: variables.$small) and (max-width: variables.$normal) {
    font-size: font.$fs-small;
  }
}

.chart-legend-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.chart-legend-row {
  display: flex;

  & + .chart-legend-row {
    margin-top: 4px;
  }
}

.chart-legend-title-wrapper {
  display: flex;
  align-items: center;

  & + .chart-legend-title-wrapper {
    margin-left: 8px;
  }
}

.chart-legend-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;

  &.blue {
    background-color: colors.$blue;
  }

  &.yellow {
    background-color: colors.$yellow;
  }

  &.green {
    background-color: colors.$green;
  }

  &.pink {
    background-color: colors.$pink;
  }
}

.chart-legend-title {
  margin: 0;
  font-size: font.$fs-small;
  font-weight: font.$fw-lighter;
  color: colors.$grey;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  @media (max-width: variables.$small) {
    margin-top: 16px;
  }
}

.button {
  margin-top: 0;
}
