@use 'src/app/styles/variables';

.forms-wrapper {
  display: flex;
  margin-top: 24px;
  width: 100%;

  @media (max-width: variables.$small) {
    flex-wrap: wrap;
  }
}

.right-from-wrapper {
  @media (max-width: variables.$small) {
    margin-top: 24px;
  }
}

.left-from,
.right-from-wrapper,
.right-from {
  width: 50%;

  @media (max-width: variables.$small) {
    width: 100%;
  }
}

.left-from {
  margin-right: 24px;

  @media (max-width: variables.$small) {
    margin-right: 0;
  }
}

.right-from {
  @media (max-width: variables.$small) {
    margin-left: 0;
    margin-top: 36px;
  }
}
