@use 'src/app/styles/colors';
@use 'src/app/styles/variables';

.notification-button {
  margin-left: 16px;

  &__icon {
    color: colors.$white-35;
  }

  @media (max-width: variables.$small) {
    margin-top: 0;
  }
}

.notification-menu {
  &__button {
    &:hover {
      background-color: colors.$blue-white;
    }
  }

  &__icon {
    &_yellow {
      color: colors.$yellow;
    }

    &_green {
      color: colors.$green;
    }

    &_pink {
      color: colors.$pink;
    }

    &_blue {
      color: colors.$blue;
    }
  }
}
