@use 'src/app/styles/colors';
@use 'src/app/styles/font';

.icons-wrapper {
  padding: 0;
  margin-top: 24px;
  box-shadow:
    0 3px 11px 0 colors.$shadow-white,
    0 3px 3px -2px colors.$shadow-grey,
    0 1px 8px 0 colors.$shadow-dark-grey;
}

.tab-label {
  margin: 0;
  text-transform: uppercase;
  padding: 0 16px;
}

.icons-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 24px 16px 24px;

  &__title {
    font-weight: font.$fw-lighter;
    font-size: font.$fs-xxxl;
    color: colors.$light-grey;
    line-height: 1;
    letter-spacing: -0.24992px;
  }

  &__button {
    height: 41.6px;
    width: 90.11px;
    color: colors.$white;
    background-color: colors.$pink;
    line-height: 1.75;
    font-size: font.$fs-normal;
    font-weight: font.$fw-lighter;
  }
}

.icons-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  padding: 0 16px;

  &__icon-wrapper {
    width: 170px;
    padding: 8px;
    color: colors.$grey;
    display: flex;
    align-items: center;
  }

  &__icon-title {
    padding-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
