@use 'src/app/styles/colors';
@use 'src/app/styles/variables';
@use 'src/app/styles/font';

.typography-content {
  &__wrapper {
    display: flex;
    margin-top: 24px;

    @media (max-width: variables.$small) {
      flex-wrap: wrap;
    }
  }

  &__item-wrapper {
    box-shadow:
      0 3px 11px 0 colors.$shadow-white,
      0 3px 3px -2px #b2b2b21a,
      0 1px 8px 0 #9a9a9a1a;
    width: 100%;
  }

  &__headings,
  &__colors,
  &__settings,
  &__size {
    margin-top: 8px;
    border: 1px dashed colors.$blue;
    padding: 32px 16px;

    h1 {
      @media (max-width: variables.$small) {
        line-height: 46px;
      }
    }
  }

  &__colors {
    &_blue {
      color: colors.$blue;
    }

    &_green {
      color: colors.$green;
    }

    &_pink {
      color: colors.$pink;
    }

    &_yellow {
      color: colors.$yellow;
    }

    &_light-blue {
      color: colors.$light-blue;
    }

    &_violet {
      color: colors.$violet;
    }
  }
}

.fw-light {
  font-weight: font.$fw-lighter;
}

.fw-medium {
  font-weight: font.$fw-normal;
}

.fw-bold {
  font-weight: font.$fw-bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.fst-italic {
  font-style: italic;
}

.fs-sm {
  font-size: font.$fs-xs;
}

.fs-regular {
  font-size: font.$fs-small;
}

.fs-md {
  font-size: font.$fs-medium;
}

.fs-xl {
  font-size: font.$fs-xl;
}

.fs-xxl {
  font-size: font.$fs-xxxl;
}

.typography-content__item-wrapper + .typography-content__item-wrapper {
  margin-left: 36px;

  @media (max-width: variables.$small) {
    margin-left: 0;
    margin-top: 36px;
  }
}
