@use 'src/app/styles/colors';
@use 'src/app/styles/variables';

.settings-button {
  box-shadow: none;
  background-color: transparent;
  color: variables.$settings-button-color;

  &:hover {
    background-color: colors.$blue;
    color: variables.$settings-button-color-hover;
  }

  &__icon {
    color: inherit;
  }
}

.settings-menu {
  position: absolute;

  &__item {
    color: colors.$dark-grey;

    &:hover {
      background-color: variables.$settings-menu-background-color-hover;
    }
  }
}
