@use 'src/app/styles/colors';
@use 'src/app/styles/font';

@mixin grid-item {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: colors.$white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-grid-item {
  @include grid-item;
  background-color: colors.$blue;
}

.second-grid-item {
  @include grid-item;
  background-color: colors.$pink;
}

.code-wrapper {
  background-color: colors.$blue-white;
  height: 145px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 16px 16px 0 16px;
}

.code {
  font-size: font.$fs-xs;
}

.blue {
  color: colors.$blue;
}

.pink {
  color: colors.$pink;
}
