<mat-card appearance="outlined" class="user-card">
  <mat-card-content class="user-card-content">
    <div class="user-avatar">
      <div class="avatar-wrapper">
        <img class="avatar-img" src="./assets/user/profile/photo.png" alt="avatar">
      </div>
      <mat-chip-listbox class="avatar-badge-wrapper">
        <mat-chip-option color="warn" selected class="avatar-badge">Pro</mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="user-info-wrapper">
      <mat-card-title class="user-name">Julee Cruise</mat-card-title>

      <p class="user-position">Product Designer</p>
      <a href="#" class="user-site">NewGenerArt.com</a>

      <div class="user-skills-wrapper">
        <mat-chip-listbox>
          <mat-chip-option selected class="user-skill blue">UI/UX</mat-chip-option>
          <mat-chip-option selected class="user-skill yellow">Art</mat-chip-option>
          <mat-chip-option selected class="user-skill pink">Design</mat-chip-option>
          <mat-chip-option selected class="user-skill yellow">Illustration</mat-chip-option>
          <mat-chip-option selected class="user-skill green">Mobile</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="icons-wrapper">
        <img class="icon" src="./assets/user/profile/facebook-logo.svg">
        <img class="icon" src="./assets/user/profile/medium-logo.svg">
        <img class="icon" src="./assets/user/profile/basket.svg">
        <img class="icon" src="./assets/user/profile/Be.svg">
        <img class="icon" src="./assets/user/profile/insta-logo.svg">
      </div>
    </div>
  </mat-card-content>
</mat-card>
