@use 'src/app/styles/colors';
@use 'src/app/styles/font';

.card {
  margin-top: 24px;
}

.card-title {
  font-size: font.$fs-regular;
  color: colors.$grey;
  font-weight: font.$fw-lighter;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: font.$fs-normal;
  color: colors.$dark-grey;
  font-weight: font.$fw-lighter;
  margin-bottom: 24px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: font.$fs-regular;
  color: colors.$dark-grey;
  font-weight: font.$fw-lighter;
  padding: 0 24px 0 24px;
}

.table-header-title {
  margin: 0;
  line-height: 36px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
}

.col-header {
  font-size: font.$fs-normal;
  color: colors.$dark-grey;
  font-weight: font.$fw-normal;
  padding: 14px 40px 14px 24px;
}

.col-body {
  font-size: font.$fs-small;
  color: colors.$dark-grey;
  font-weight: font.$fw-lighter;
  padding: 14px 40px 14px 24px;
}
