@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.email-button {
  margin-left: 16px;

  &__icon {
    color: colors.$white-35;
  }

  @media (max-width: variables.$small) {
    margin-top: 0;
  }
}

.email-menu-header {
  padding: 16px 16px 0 16px;

  &__title {
    margin: 0;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-large;
    color: colors.$dark-grey;
  }

  &__subtitle {
    color: colors.$pink;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-small;
    margin: 4px 0 16px 0;
  }
}

.mail-wrapper {
  cursor: pointer;
  display: flex;
  padding: 6px 16px;

  &:hover {
    background-color: colors.$blue-white;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    font-weight: font.$fw-lighter;
    font-size: font.$fs-small;
    color: colors.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    width: 30px;
    height: 30px;
  }

  &__time {
    text-align: center;
    color: colors.$grey;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-xs;
  }
}

.mail-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 16px;
  justify-content: space-between;

  &__user {
    margin-top: 3px;
    font-weight: font.$fw-normal;
    font-size: font.$fs-small;
    color: colors.$dark-grey;
  }

  &__message {
    color: colors.$grey;
    font-weight: font.$fs-small;
    font-size: font.$fs-small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.send-message-button-wrapper {
  margin: 16px 0;
  text-align: center;

  .send-message-button {
    width: 224px;
    height: 48px;
    border-radius: 32px;

    &__icon {
      margin-left: 16px;
    }
  }
}

.yellow {
  background-color: colors.$yellow;
}

.green {
  background-color: colors.$green;
}

.blue {
  background-color: colors.$blue;
}

.ping {
  background-color: colors.$pink;
}
