@use 'src/app/styles/colors';

.ui-page {
  padding: 24px;
}

.ui-card {
  margin-top: 24px;
}

.link {
  color: colors.$blue;
  text-decoration: none;
}

.code {
  background-color: colors.$blue-white;
  line-height: 33px;
  overflow: scroll hidden;
  padding: 8px 16px;
  display: block;
}
