@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.user-tasks-card {
  height: 100%;
  box-sizing: border-box;
}

.user-tasks-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-tasks-title {
  margin-bottom: 0;
}

.task-wrapper {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid colors.$gray-80;
}

.task-inner-wrapper {
  display: flex;
  align-items: center;
}

.task-time {
  font-weight: font.$fw-normal;
  font-size: 10px;
  line-height: 20px;
  color: colors.$grey;
  margin: 0;
}

.task-circle {
  width: 6px;
  height: 6px;
  background-color: colors.$gray-06;
  margin-left: 14px;
  border-radius: 50%;
}

.blue {
  background-color: colors.$blue;
}

.yellow {
  background-color: colors.$yellow;
}

.green {
  background-color: colors.$green;
}

.pink {
  background-color: colors.$pink;
}

.task-text {
  font-weight: font.$fw-normal;
  font-size: font.$fs-small;
  line-height: 20px;
  color: colors.$grey;
  margin: 0 0 0 8px;
}

.task-done {
  text-decoration-line: line-through;
  color: colors.$gray-06;
}

.task-settings {
  height: 25px;
  width: 25px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: colors.$light-grey;
  font-size: font.$fs-medium;

  &:hover {
    background-color: colors.$blue;
    color: colors.$white-35;
  }
}
