@use 'src/app/styles/colors';
@use 'src/app/styles/variables';
@use 'src/app/styles/font';

.content-wrapper {
  display: flex;

  @media (max-width: variables.$medium) {
    flex-wrap: wrap;
  }

  .content-block {
    width: 100%;
    margin-top: 24px;

    & + .content-block {
      margin-left: 36px;

      @media (max-width: variables.$medium) {
        margin-left: 0;
        margin-top: 36px;
      }
    }

    mat-card + mat-card {
      margin-top: 36px;
    }
  }
}

button + button {
  margin-left: 16px;

  @media (max-width: variables.$small) {
    margin-left: 0;
    margin-top: 8px;
  }
}

.code-wrapper {
  background-color: colors.$blue-white;
  height: auto;
  overflow: scroll hidden;
  padding: 16px 16px 0;
}

.code {
  font-size: font.$fs-xs;
}

.button {
  text-transform: uppercase;
}

.blue {
  color: colors.$blue;
}

.pink {
  color: colors.$pink;
}

.grey {
  color: colors.$grey;
}
