@use 'src/app/styles/font';
@use 'src/app/styles/colors';

.card {
  margin-top: 36px;
}

.table-wrapper {
  overflow-x: auto;
}

.table-header {
  display: block;
  padding: 14px 40px 14px 24px;
  word-wrap: unset;
  overflow: unset;
}

.table-header-title {
  color: colors.$dark-grey;
  font-size: font.$fs-normal;
  margin: 0;
}

.table-header-subtitle {
  color: colors.$dark-grey;
  font-size: font.$fs-xs;
  margin: 0;
}

.table-body {
  color: colors.$dark-grey;
  font-size: font.$fs-small;
  margin: 0;
  padding: 14px 40px 14px 24px;
  word-wrap: unset;
  overflow: unset;
}

.table-body-row {
  color: colors.$dark-grey;
  margin: 0;
  padding: 14px 40px 14px 24px;
  font-size: font.$fs-normal;
  font-weight: font.$fw-normal;
}
