@use 'src/app/styles/colors';
@use 'src/app/styles/variables';
@use 'src/app/styles/font';

.project-stat {
  display: flex;
  margin-bottom: 24px;

  &__item {
    height: 208px;
    width: 100%;

    @media (min-width: variables.$small) and (max-width: variables.$normal) {
      margin-top: 24px;
    }

    & + .project-stat__item {
      margin-left: 24px;

      @media (max-width: variables.$small) {
        margin-top: 24px;
        margin-left: 0;
      }

      @media (min-width: variables.$small) and (max-width: variables.$normal) {
        &:last-child {
          margin-left: 0;
        }
      }
    }

    @media (min-width: variables.$small) and (max-width: variables.$large) {
      width: 41.3%;
    }

    @media (min-width: variables.$large) and (max-width: variables.$normal) {
      width: 43.6%;
    }
  }

  &__title {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-text {
    font-weight: font.$fw-lighter;
    font-size: font.$fs-medium;
    margin: 0;
  }

  @media (min-width: variables.$small) and (max-width: variables.$normal) {
    justify-content: start;
  }

  @media (max-width: variables.$normal) {
    flex-wrap: wrap;
  }
}

.project-stat-content {
  padding: 8px;

  &__total-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__total-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__total-info-users {
    color: colors.$grey;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-xxxl;
    margin: 0;
    height: 45px;
    letter-spacing: 0.15px;
  }

  &__total-info-percent {
    color: colors.$green;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-small;
    margin: 0 0 0 5px;
  }

  &__total-info-percent-warn {
    color: colors.$pink;
    font-weight: font.$fw-lighter;
    font-size: font.$fs-small;
    margin: 0 0 0 5px;
  }

  &__total-info-chart {
    position: relative;
    right: -9px;
    top: -2px;
  }

  &__stat-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__stat-value-wrapper {
    display: flex;
    align-items: center;
  }

  &__stat-value {
    font-weight: font.$fw-lighter;
    font-size: font.$fs-regular;
    color: colors.$dark-grey;
    margin: 0;
  }

  &__stat-icon {
    transform: rotate(45deg);
    color: colors.$green;
  }

  &__stat-icon-warn {
    transform: rotate(135deg);
    color: colors.$pink;
  }

  &__stat-item-title {
    color: colors.$light-grey;
    font-weight: font.$fw-lighter;
    font-size: 12px;
    margin: 0;
  }
}
