@use 'src/app/styles/font';
@use 'src/app/styles/colors';

.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.input-title {
  font-size: font.$fs-normal;
  font-weight: font.$fw-lighter;
  color: colors.$dark-grey;
}
