@use 'src/app/styles/colors';
@use 'src/app/styles/font';

.title {
  font-size: font.$fs-regular;
  font-weight: font.$fw-normal;
  color: colors.$dark-grey;
}

.subtitle {
  font-size: font.$fs-normal;
  font-weight: font.$fw-lighter;
  color: colors.$grey;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  text-transform: uppercase;
}

.button + .button {
  margin-left: 8px;
}
