@use 'src/app/styles/colors';
@use 'src/app/styles/font';
@use 'src/app/styles/variables';

.revenue-chart {
  height: 192px;

  @media (width >= 1280px) and (max-width: variables.$xxl) {
    height: 220px;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-size: font.$fs-regular;
      font-weight: font.$fw-lighter;
      margin: 0;
      line-height: 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    &-chart {
      height: 140px;
      width: 60%;
      max-width: 218px;
    }
  }
}

.legend-wrapper {
  // will add later
}

.legend-item-wrapper {
  display: flex;
  align-items: center;
}

.legend-icon {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.legend-text {
  margin: 0 0 0 8px;
  font-size: font.$fs-normal;
  font-width: font.$fw-lighter;
  color: colors.$grey;
  white-space: nowrap;
}

.blue {
  background-color: colors.$blue;
}

.pink {
  background-color: colors.$pink;
}

.yellow {
  background-color: colors.$yellow;
}

.green {
  background-color: colors.$green;
}
