@use 'sass:map';
@use '@angular/material' as mat;
@use 'sass:meta';
@use './src/app/styles/breadcrumb';
@use './src/app/styles/calendar';
@use './src/app/styles/colors';
@use './src/app/styles/font';
@use './src/app/styles/footer';
@use './src/app/styles/full-calendar';
@use './src/app/styles/header';
@use './src/app/styles/m3-palettes';
@use './src/app/styles/mat-badge';
@use './src/app/styles/mat-button';
@use './src/app/styles/mat-button-toggle';
@use './src/app/styles/mat-card';
@use './src/app/styles/mat-carousel';
@use './src/app/styles/mat-expansion-panel';
@use './src/app/styles/mat-form-field';
@use './src/app/styles/mat-paginator';
@use './src/app/styles/mat-select';
@use './src/app/styles/mat-spinner';
@use './src/app/styles/mat-tab';
@use './src/app/styles/mat-table';
@use './src/app/styles/mat-toolbar';
@use './src/app/styles/mat-tooltip';
@use './src/app/styles/notification';
@use './src/app/styles/palettes';
@use './src/app/styles/scrollbar';
@use './src/app/styles/settings';
@use './src/app/styles/sidebar';
@use './src/app/styles/typography';
@use './src/app/styles/variables';

// @include meta.load-css('@fullcalendar/core/main.css');
// @include meta.load-css('@fullcalendar/daygrid/main.css');
// @include meta.load-css('@fullcalendar/timegrid/main.css');
@include meta.load-css('../node_modules/angular-calendar/css/angular-calendar.css');
@include meta.load-css('../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css');
@include meta.load-css('../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css');

// Define color palettes for M3 theme
// $ama-color-config: (
//  primary: m3-palettes.$blue-palette,
//  tertiary: palettes.$ama-yellow,
//  error: palettes.$ama-pink,
// );

$ama-m3-theme-config: (
  color: m3-palettes.$blue-palette,
  typography: (
    plain-family: roboto,
    brand-family: 'open sans',
    bold-weight: 900,
    medium-weight: 500,
    regular-weight: 300,
  ),
  density: 0,
);

@include mat.all-component-typographies($ama-m3-theme-config);
@include mat.all-component-densities($ama-m3-theme-config);

@mixin set-theme($palette) {
  @include mat.theme(
    (
      color: $palette,
    )
  );

  & {
    --main-color: #{map.get($palette, 50)};
  }
}

.pinkTheme {
  @include set-theme(m3-palettes.$pink-palette);
}

.blueTheme {
  @include set-theme(m3-palettes.$blue-palette);
}

.greenTheme {
  @include set-theme(m3-palettes.$green-palette);
}

// .blueTheme {
//  @include mat.all-component-themes(
//    (
//      colors: m3-palettes.$blue-palette,
//    )
//  );
//
//  & {
//    --main-color: map.get(m3-palettes.$blue-palette, 50);
//  }
// }

html {
  @include header.header;
  @include mat-card.mat-card;
  @include mat-paginator.mat-paginator;
  @include mat-table.mat-table;
  @include mat-toolbar.mat-toolbar;
  @include mat-button.mat-button;
  @include mat-button-toggle.mat-toggle;
  @include mat-spinner.mat-spinner;
  @include mat-tab.mat-tab-without-border;
  @include mat-tab.mat-tab-color-label(var(--main-color));
  @include mat-tab.mat-tab-label-active-color(var(--main-color));
  @include mat-tooltip.mat-tooltip;
  @include mat-expansion-panel.mat-expansion-panel;
  @include breadcrumb.breadcrumb;
  @include mat-badge.mat-badge;
  @include sidebar.sidebar(var(--main-color));
  @include footer.footer(var(--main-color));
  @include settings.settings(var(--main-color));
  @include mat-select.mat-select;
  @include mat-tab.mat-tab-label;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@include notification.notification;
@include typography.typography;
@include scrollbar.scrollbar;
@include mat-form-field.mat-form-field;
@include calendar.calendar;
@include full-calendar.full-calendar;

// @include themes.blueTheme;
// @include themes.pinkTheme;
// @include themes.greenTheme;
// @include themes.darkMode;

@include mat-tab.mat-tab-label;
@include mat-card.mat-card;

.mat-select-panel .mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple),
.mat-option:hover:not(.mat-option-disabled) {
  background-color: colors.$blue-white;
}

.mat-mdc-select-panel {
  & .mat-mdc-option {
    font-size: 16px !important;
  }
}

.mat-mdc-menu-panel.settings-theme-menu {
  margin-right: 64px;
  margin-top: -55px;
}

.ng-select .ng-select-container {
  min-width: 150px;
  min-height: 40.5px;
}
