@use 'src/app/styles/colors';
@use 'src/app/styles/variables';

.content-wrapper {
  display: flex;
  margin-top: 36px;

  @media (max-width: variables.$small) {
    flex-wrap: wrap;
  }
}

.external-event-wrapper {
  width: 30%;
  margin-right: 36px;

  @media (max-width: variables.$small) {
    width: 100%;
    margin-right: 0;
    margin-top: 24px;
  }
}

.title {
  color: colors.$dark-grey;
  margin-bottom: 8px;
}

.subtitle {
  color: colors.$dark-grey;
  margin: 0;
}

.external-event-content {
  display: flex;
  align-items: center;
}

.external-event {
  cursor: pointer;
  margin: 16px 0;
  padding: 16px;
  box-shadow:
    0 3px 11px 0 colors.$shadow-white,
    0 3px 3px -2px colors.$shadow-grey,
    0 1px 8px 0 colors.$shadow-dark-grey;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
}

.calendar-wrapper {
  width: 70%;

  @media (max-width: variables.$small) {
    width: 100%;
  }
}

.green {
  background-color: colors.$green;
}

.yellow {
  background-color: colors.$yellow;
}

.violet {
  background-color: colors.$violet;
}

.tools-panel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  @media (max-width: variables.$small) {
    flex-wrap: wrap;
  }
}

.tools-panel {
  display: flex;
  align-items: center;

  @media (max-width: variables.$small) {
    justify-content: space-between;
    width: 100%;
  }
}

.tool-circle-button {
  background-color: transparent;
  box-shadow: none;
  color: rgba(110, 110, 110, 0.6);
  width: 48px;
  height: 48px;

  &:hover {
    background-color: variables.$header-button-background-color-hover;
  }
}

.tool-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  color: colors.$dark-grey;
  width: auto;
  height: 36px;
  padding: 6px 9px;
  line-height: 24px;

  &:hover {
    background-color: variables.$header-button-background-color-hover;
  }
}

.tool-button + .tool-button {
  margin-left: 8px;
}

.icon {
  padding: 0;
  font-size: 24px;
}

.active {
  background-color: colors.$blue;
  color: colors.$white;

  &:hover {
    background-color: colors.$blue;
  }
}
